<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" media="all" href="~/Areas/Admin/Content/themes/base/Style.css">
</head>
<body>
    <div class="nav">
        <div>
            Администратор
        </div>
        <ul>
            <li><a href="~/Admin/Apps">Приложения</a></li>
            <li><a href="~/Admin/Devs">Фирми</a></li>
        </ul>
    </div>
    @RenderBody()
</body>
</html>
