/DMSys.Framesource.Demo/DMSys.Controls.Demo/.vs
/DMSys.Framesource.Demo/DMSys.Controls.Demo/obj
/DMSys.Framesource.Demo/DMSys.Controls.Demo/bin
/DMSys.Framesource.Demo/DMSys.Data.Demo/.vs
/DMSys.Framesource.Demo/DMSys.Data.Demo/DMSys.Data.Demo/obj
/DMSys.Framesource.Demo/DMSys.Data.Demo/DMSys.Data.Demo/bin
/DMSys.Framesource.Demo/DMSys.Data.Demo/packages
/DMSys.Framesource.Demo/DMSys.Controls.Demo/.vs
/DMSys.Framesource.Demo/DMSys.Controls.Demo/DMSys.Controls.Demo/obj
/DMSys.Framesource.Demo/DMSys.Controls.Demo/DMSys.Controls.Demo/bin
/DMSys.Framesource.Demo/DMSys.Data.SQLite.Demo_1/packages
/DMSys.Framesource.Demo/DMSys.Data.SQLite.Demo_2/packages
/DMSys.Framesource.Demo/DMSys.Data.SQLite.Demo/.vs
/DMSys.Framesource.Demo/DMSys.Data.SQLite.Demo/DMSys.Data.SQLite.Demo/obj
/DMSys.Framesource.Demo/DMSys.Data.SQLite.Demo/DMSys.Data.SQLite.Demo/bin
/Hydra/Hydra.Win/Hydra.Win/.vs
/Hydra/Hydra.Win/Hydra.Win/obj
/Hydra/Hydra.Win/Hydra.Win/bin
/DMSys.Framesource/packages
/DMSys.Framesource/.vs
/DMSys.Framesource/DMSys.Controls/.vs
/DMSys.Framesource/DMSys.Controls/obj
/DMSys.Framesource/DMSys.Controls/bin
/DMSys.Framesource/DMSys.Cryptography/.vs
/DMSys.Framesource/DMSys.Cryptography/obj
/DMSys.Framesource/DMSys.Cryptography/bin
/DMSys.Framesource/DMSys.Data.SQLite/.vs
/DMSys.Framesource/DMSys.Data.SQLite/obj
/DMSys.Framesource/DMSys.Data.SQLite/bin
/DMSys.Framesource/DMSys.Data/.vs
/DMSys.Framesource/DMSys.Data/obj
/DMSys.Framesource/DMSys.Data/bin
/DMSys.Framesource/DMSys.Devices/.vs
/DMSys.Framesource/DMSys.Devices/obj
/DMSys.Framesource/DMSys.Devices/bin
/DMSys.Framesource/DMSys.NativeMethods/.vs
/DMSys.Framesource/DMSys.NativeMethods/obj
/DMSys.Framesource/DMSys.NativeMethods/bin
/DMSys.Framesource/DMSys.Net/.vs
/DMSys.Framesource/DMSys.Net/obj
/DMSys.Framesource/DMSys.Net/bin
/DMSys.Framesource/DMSys.Systems/.vs
/DMSys.Framesource/DMSys.Systems/obj
/DMSys.Framesource/DMSys.Systems/bin
/DMSys.Framesource/DMSys.Utility/.vs
/DMSys.Framesource/DMSys.Utility/obj
/DMSys.Framesource/DMSys.Utility/bin
/DMSys.Framesource/DMSys.Web/.vs
/DMSys.Framesource/DMSys.Web/obj
/DMSys.Framesource/DMSys.Web/bin