/DMSys.Framesource.Demo/DMSys.Controls.Demo/.vs
/DMSys.Framesource.Demo/DMSys.Controls.Demo/obj
/DMSys.Framesource.Demo/DMSys.Controls.Demo/bin
/DMSys.Framesource.Demo/DMSys.Data.Demo/.vs
/DMSys.Framesource.Demo/DMSys.Data.Demo/DMSys.Data.Demo/obj
/DMSys.Framesource.Demo/DMSys.Data.Demo/DMSys.Data.Demo/bin
/DMSys.Framesource.Demo/DMSys.Data.Demo/packages
/DMSys.Framesource.Demo/DMSys.Controls.Demo/.vs
/DMSys.Framesource.Demo/DMSys.Controls.Demo/DMSys.Controls.Demo/obj
/DMSys.Framesource.Demo/DMSys.Controls.Demo/DMSys.Controls.Demo/bin
/DMSys.Framesource.Demo/DMSys.Data.SQLite.Demo_1/packages
/DMSys.Framesource.Demo/DMSys.Data.SQLite.Demo_2/packages
/Hydra/Hydra.Win/Hydra.Win/.vs
/Hydra/Hydra.Win/Hydra.Win/obj
/Hydra/Hydra.Win/Hydra.Win/bin
/DMSys.Framesource/packages
/DMSys.Framesource/.vs
/DMSys.Framesource/DMSys.Controls/obj
/DMSys.Framesource/DMSys.Controls/bin