<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="APPS_FILES" value="D:\DProjects\GitHubProjects\Hydra\AppsFiles"/>
    <add key="APPS_FILES_" value="D:\DProjects\DMSys.SourceForge\Hydra\AppsFiles"/>
    <add key="APPS_DATA" value="D:\DProjects\GitHubProjects\Hydra\AppsData"/>
    <add key="APPS_DATA_" value="D:\DProjects\DMSys.SourceForge\Hydra\AppsData"/>
    <add key="JSCRIPTS_PATH" value="D:\DProjects\DMSys.SourceForge\Hydra\Hydra.JScripts"/>
    
    <add key="DEFAULT_APP_BASE_PATH" value="D:\DProjects\GitHubProjects\Hydra\AppsFiles\Tutorials\API"/>
    <add key="DEFAULT_APP_START_PAGE" value="index.html"/>
    <add key="DEFAULT_APP_COMPANY" value="Tutorials"/>
    <add key="DEFAULT_APP_NAME" value="API"/>
    <add key="DEFAULT_APP_IS_ONLINE" value="0"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
